<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="my-5">Felhasználók</h1>

      <h4 class="my-4">
        A listaelemekre való kattintással megtekintheti a részletes információkat az adott felhasználóról!
      </h4>

      <div class="my-5">

        <div class="list__item"
          *ngFor="let item of data$ | async"
          >

          <app-list-item
            [item]="item"
            [config]="config"
            [itemIcon]="itemIcon"
            [routerName]="routerName"
            [service]="userService"
          ></app-list-item>
        </div>

      </div>

    </div>
  </div>
</div>

