version: "3"
services:
  app:
    container_name: vizsgaremek_backend_express_api
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - /app/node_modules
      - .:/app
    ports:
      - 3000:3000
    links:
      - mongo
  mongo:
    container_name: vizsgaremek_backend_mongo
    image: mongo:latest
    volumes:
      - ./data/db:/data/db
    ports:
      - "27018:27017"
