<!-- <div class="container-fluid p-0">

  <div class="row">
    <div class="col-12 p-0 d-flex flex-column flex-md-row">

      <div class="login col-12 col-md-6 text-light">

        <h1 class="display-5 fw-bold mb-4 text-light">
          Bejelentkezés
        </h1>

        <p class="col-md-8 fs-4 text-light">
          Jelentkezzen be meglévő fiókjába, vagy regisztráljon egy újat.
        </p>

        <div *ngIf="user" class="col-12 col-md-8 offset-md-2 my-5">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm, user)">

            <div class="mb-3">
              <label for="email" class="form-label">
                Email
              </label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                placeholder="pelda@gmail.com"
                [(ngModel)]="user.email"
                pattern="([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\@]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\.]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)"
                required>
              <div [hidden]="loginForm.controls.email?.valid || loginForm.controls.email?.pristine" class="error-message">
                Hibás email cím!
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">
                Jelszó
              </label>
              <input type="password" class="form-control" name="password" id="password"
              placeholder="Pelda_Jelszo"
              [(ngModel)]="user.password"
              required>
              <div [hidden]="loginForm.controls.email?.valid || loginForm.controls.email?.pristine" class="error-message">
                Hibás jelszó!
              </div>
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label" for="rememberMe">
                Jegyezzen meg
              </label>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-lg"
                [disabled]="loginForm.invalid || loggingIn">
                <i *ngIf="!loggingIn" class="fas fa-sign-in-alt"></i>
                <i *ngIf="loggingIn" class="fas fa-sync-alt"></i>
                Bejelentkezés
              </button>
            </div>

          </form>
        </div>

      </div>

      <div class="registration col-12 col-md-6">

        <app-edit-profile
          [title]="'Regisztráció'"
          [registration]="true"
        ></app-edit-profile>

      </div>

    </div>
  </div>

</div> -->

<div class="container-fluid p-0">

  <div class="row">
    <div class="col-12 p-0">


      <div class="login col-12 text-light">

        <h1 class="display-6 fw-bold mb-4 text-light">
          Bejelentkezés
        </h1>

        <p class="col-md-8 fs-5 text-light">
          Jelentkezzen be meglévő fiókjába, vagy regisztráljon egy újat.
        </p>

        <div *ngIf="user" class="col-12 col-sm-8 col-md-5 offset-md-1 col-lg-4 offset-md-2 my-5">
          <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

            <div class="mb-3">
              <label for="email" class="form-label">
                Email
              </label>
              <input type="email" class="form-control" name="email" id="email"
                placeholder="email@gmail.com"
                [(ngModel)]="user.email"
                pattern="([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\@]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\.]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)"
                required
                autofocus
                >
              <div [hidden]="loginForm.controls.email?.valid || loginForm.controls.email?.pristine" class="error-message">
                Hibás email cím!
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">
                Jelszó
              </label>
              <input type="password" class="form-control" name="password" id="password"
              placeholder="Pelda_Jelszo"
              [(ngModel)]="user.password"
              required>
              <div [hidden]="loginForm.controls.email?.valid || loginForm.controls.email?.pristine" class="error-message">
                Hibás jelszó!
              </div>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-lg"
                [disabled]="loginForm.invalid || loggingIn">
                <i *ngIf="!loggingIn" class="fas fa-sign-in-alt"></i>
                <i *ngIf="loggingIn" class="fas fa-sync-alt"></i>
                Bejelentkezés
              </button>
            </div>

            <div [hidden]="!serverError && !loginForm.submitted" class="error-message">
              {{ serverError }}
            </div>

          </form>
        </div>

      </div>


      <div class="registration col-12">

        <app-edit-profile
          [title]="'Regisztráció'"
          [registration]="true"
        ></app-edit-profile>

      </div>

    </div>
  </div>

</div>

