.login {
  min-height: 15rem;
  padding: 7rem 3rem 3rem;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('./../../../assets/images/budgetBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -3.5rem;
}

.registration {
  min-height: 15rem;
  padding: 7rem 3rem 3rem;
  position: relative;
  top: -3.5rem;
}

.btn-primary {
  color: rgb(24, 24, 24);
  background-color: rgb(243, 184, 107);
  border-color: rgb(243, 184, 107);

  &:hover {
    background-color: rgb(243, 165, 56);
    border-color: rgb(243, 165, 56);
  }
}

.fa-sync-alt {
  animation: roundAnimation 1.5s infinite ease;
}

.error-message {
  font-style: italic;
  font-size: .8rem;
  color: rgb(240, 0, 0);
  position: relative;
  animation: errorMessage .4s 3 ease;
}

@keyframes roundAnimation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(359deg); }
}

@keyframes errorMessage {
  0% { left: 0rem }
  50% { left: .5rem }
  100% { left: 0rem }
}
