// .login {
//   min-height: 15rem;
//   padding: 7rem 3rem 3rem;
//   background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
//     url('./../../../assets/images/budgetBackground.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   top: -3.5rem;
// }

// .registration {
//   min-height: 15rem;
//   position: relative;
//   top: -3.5rem;

//   @media (min-width: 768px) {
//     padding: 7rem 3rem 3rem;
//   }
// }

.login {
  min-height: 15rem;
  padding: 7rem 3rem 3rem;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('./../../../assets/images/computer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -3.5rem;
}

.registration {
  min-height: 15rem;
  position: relative;
  top: -3.5rem;

  // @media (min-width: 768px) {
  //   padding: 7rem 3rem 3rem;
  // }
}
