<div class="container">
  <div class="row">
    <div class="col-12">


      <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 my-5"
      *ngIf="user"
      >

      <h1 class="my-5">
        {{ title }}
      </h1>

        <form #profileForm="ngForm">

          <div class="mb-3">
            <label for="name" class="form-label">
              Név
            </label>
            <input type="text" class="form-control" id="name" name="name"
              placeholder="Gizi"
              [(ngModel)]="user.name"
              pattern="[A-Z]+[a-z]+"
              required>
            <div class="error-message"
              [hidden]="profileForm.controls.name?.valid || profileForm.controls.name?.pristine">
              Név megadása kötelező!
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">
              Email
            </label>
            <input type="email" class="form-control" name="email" id="email"
              placeholder="pelda@gmail.com"
              [(ngModel)]="user.email"
              pattern="([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\@]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)([\.]+)([A-Za-z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|]+)"
              required>
            <div [hidden]="profileForm.controls.email?.valid || profileForm.controls.email?.pristine" class="error-message">
              Hibás email cím!
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">
              Jelszó
            </label>
            <input type="password" class="form-control" name="password" id="password"
            placeholder="Pelda_jelszo"
            [(ngModel)]="user.password"
            required>
            <div [hidden]="profileForm.controls.password?.valid || profileForm.controls.password?.pristine" class="error-message">
              Hibás jelszó!
            </div>
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">
              Jogosultság
            </label>
            <select class="form-select" name="role" id="role"
              [(ngModel)]="user.role"
              required>
              <option>admin</option>
              <option>user</option>
            </select>
            <div class="error-message"
              [hidden]="profileForm.controls.role?.valid || profileForm.controls.role?.pristine">
                Jogosultság megadása kötelező!
            </div>
          </div>

          <div class="mb-5">
            <label for="age" class="form-label">
              Kor
            </label>
            <input type="number" class="form-control" name="age" id="age"
              placeholder="25"
              [(ngModel)]="user.age"
              required>
            <div class="error-message"
              [hidden]="profileForm.controls.age?.valid || profileForm.controls.age?.pristine">
              Kor megadása kötelező!
            </div>
          </div>

          <div class="col-12 d-flex flex-column flex-sm-row justify-content-between">

            <div *ngIf="registration" class="col-12 col-sm-6 col-lg-4 col-xl-5 mb-3 mb-sm-0 d-none d-sm-flex">
            </div>
            <div *ngIf="!registration" class="col-12 col-sm-6 col-lg-4 col-xl-5 mb-3 mb-sm-0">
              <button type="button" class="btn btn-danger"
                [disabled]="profileForm.invalid || saving"
                (click)="deleteUser(user.id)">
                <i *ngIf="!saving" class="far fa-trash-alt"></i>
                <i *ngIf="saving" class="fas fa-sync-alt"></i>
                &nbsp; Törlés
              </button>
            </div>

            <div class="col-12 col-sm-6 col-lg-8 col-xl-7 d-flex justify-content-between">
              <button type="button" class="btn btn-secondary mr-3"
                *ngIf="!registration"
                (click)="goBack()">
                <i class="fas fa-chevron-left"></i>
                &nbsp; Vissza
              </button>

              <button type="button" class="btn btn-primary"
                [disabled]="profileForm.invalid || saving"
                (click)="save(user)">
                <i *ngIf="!saving" class="far fa-save"></i>
                <i *ngIf="saving" class="fas fa-sync-alt"></i>
                <span *ngIf="!registration">&nbsp; Mentés</span>
                <span *ngIf="registration">&nbsp; Regisztráció</span>
              </button>
            </div>

            <div class="error-message"
              [hidden]="profileForm.valid || profileForm.pristine">
                Összes mező megadása kötelező!
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
