<footer class="footer d-flex flex-column flex-md-row py-5 px-4 px-sm-5">

  <div class="col-12 col-md-4 mb-5 mb-md-0 px-sm-5">
    <h4 class="mb-4">
      Navigáció
    </h4>
    <ul class="p-0">

      <li class="my-2"
      *ngFor="let item of navItems">
        <a class="footer-link" [routerLink]="item.routerLink" routerLinkActive="{exact: true}">
          <i [class]="item.icon"></i>
          &nbsp;
          {{ item.label }}
        </a>
      </li>

    </ul>
  </div>

  <div class="col-12 col-md-4 mb-5 mb-md-0 px-sm-5">
    <h4 class="mb-4">
      Letöltés
    </h4>

    <a [routerLink]="" class="footer-link px-4">
      <i class="fab fa-google-play fa-4x"></i>
    </a>
    <a [routerLink]="" class="footer-link px-4">
      <i class="fab fa-apple fa-4x"></i>
    </a>
  </div>

  <div class="col-12 col-md-4 px-sm-5">
    <h4 class="mb-4">
      Kapcsolat
    </h4>
    <ul class="p-0">
      <li class="my-2">
        budgettracker@gmail.com
      </li>

      <li class="my-2">
        +36 1 123 4567
      </li>

      <li class="my-2">
        1061 Budapest, Andrássy út 115.
      </li>

      <li class="my-2">
        <a [routerLink]="" class="footer-link mx-2">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a [routerLink]="" class="footer-link mx-2">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a [routerLink]="" class="footer-link mx-2">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>

</footer>
