<div class="container-fluid p-0">

  <div class="row">
    <div class="col-12 p-0">

      <div class="intro">
        <h1 class="display-5 fw-bold mb-4 text-light">
          Budget tracker
        </h1>
        <p class="col-md-8 fs-4 text-light">
          Az alkalmazás feladata, hogy az egyéni vagy háztartásonkénti költségvetést nyilvántartsa és kezelje
          olyan módon, hogy a bevételek, a kiadások, továbbá a befizetendő számlák külön követhetőek legyenek.
        </p>
        <button class="btn btn-secondary btn-lg" type="button" routerLink="login">
          Kipróbálom
        </button>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-12 offset-lg-0 col-xl-10 offset-xl-1 d-flex flex-column flex-lg-row my-5">

      <div class="col-12 col-lg-4 d-flex align-items-center px-3 mb-5 mb-lg-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <i class="fas fa-coins icons"></i>
        </div>
        <div class="col-8 px-3">
          <h3>
            Nyomonkövetés
          </h3>
          <p>
            Az alkalmazás használatával könnyen nyomon tudja követni jövedelmének mozgását.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 d-flex align-items-center px-3 mb-5 mb-lg-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <i class="fas fa-clipboard-list icons"></i>
        </div>
        <div class="col-8 px-3">
          <h3>
            Listák
          </h3>
          <p>
            Bevételeit és kiadásait külön listákon tudja ellenőrizni. Befizetésre váró számláit is le
            tudja kérdezni.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 d-flex align-items-center px-3">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <i class="fas fa-hand-holding-usd icons"></i>
        </div>
        <div class="col-8 px-3">
          <h3>
            Megtakarítások
          </h3>
          <p>
            Tervezéssel és odafigyeléssel sok pénzt spórolhat, ha folyamatos megfigyelés alatt tartja
            kiadásait.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex flex-column flex-md-row bg-light p-5 mt-3">

        <div class="col-12 col-md-5 d-flex flex-column flex-md-row align-items-center justify-content-center mb-4 mb-md-0">
          <img class="introImg" src="http://localhost:3000/images/personalized-pricing.jpg" alt="">
        </div>

        <div class="col-12 col-md-7 d-flex flex-column justify-content-center px-md-5 pr-md-0">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>“Ha olyan dolgokat veszel meg, amelyekre nincs szükséged,
                hamarosan azokat a dolgokat kell majd eladnod, amire szükséged van.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Warren Buffett
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>


</div>
