<details class="item__body d-flex align-items-center p-3">

  <summary class="d-flex flex-column flex-md-row justify-content-center">

    <div class="col-12 col-md-6 col-lg-7 col-xl-8 d-flex flex-row align-items-center">
      <div class="item__icon d-flex justify-content-center col-3 col-lg-2">
        <i class="fas fa-2x" [ngClass]="itemIcon"></i>
      </div>
      <div class="item__content col-9 col-md-4 col-lg-6">
        <h4 class="m-0">{{ item.name }}</h4>
      </div>
    </div>

    <div class="item__amount col-12 col-md-3 col-lg-2 d-flex align-items-center justify-content-end justify-content-md-start py-3 py-md-0">
      <h4 class="m-0">{{ item.amount | huf }}</h4>
    </div>

    <div class="btn-group col-12 col-md-3 col-lg-2">
      <button class="btn btn-secondary"
        (click)="updateItem(item.id)">
        Módosítás
      </button>
      <button class="btn btn-danger"
        (click)="deleteItem()">
        Törlés
      </button>
    </div>

  </summary>

  <div class="table-responsive">
    <table class="table table-borderless mt-3 mb-5 align-middle">

      <thead>

        <tr class="border-bottom border-dark">
          <th *ngFor="let prop of config">
            {{ prop.title }}
          </th>
        </tr>

      </thead>

      <tbody>
        <tr>
          <td *ngFor="let prop of config">

            <span *ngIf="!prop.modification; else anotherBlock">
              {{ item[prop.key] }}
            </span>

            <ng-template #anotherBlock>
              <span *ngIf="item[prop.key] === item['category']">
                {{ item.category.name }}
              </span>
              <span #itemName *ngIf="item[prop.key] === item['name']">
                {{ toStrongLetters(itemName, item.name) }}
              </span>
              <span *ngIf="item[prop.key] === item['user']">
                {{ item.user.name }}
              </span>
              <span #itemAmount *ngIf="item[prop.key] === item['amount']">
                {{ toStrongLetters(itemAmount, (item.amount | huf)) }}
              </span>
            </ng-template>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</details>
