.btn-primary {
  color: rgb(24, 24, 24);
  background-color: rgb(243, 184, 107);
  border-color: rgb(243, 184, 107);

  &:hover {
    background-color: rgb(243, 165, 56);
    border-color: rgb(243, 165, 56);
  }
}
