.intro {
  min-height: 15rem;
  padding: 7rem 3rem 3rem;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('./../../../assets/images/budgetBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -3.5rem;
}

.introImg {
  max-width: 28rem;
  width: 100%;
}

.introText {
  text-align: justify;
}

.icons {
  font-size: 5em;
}
