<div class="intro">
  <h1 class="display-5 fw-bold mb-4 text-light">
    Budget tracker
  </h1>
  <p class="col-md-8 fs-4 text-light">
    Az alkalmazás feladata, hogy az egyéni költségeket nyilvántartsa és kezelje olyan módon, hogy a
    bevételek, a kiadások, továbbá a befizetendő számlák külön követhetőek.
  </p>
  <button class="btn btn-secondary btn-lg" type="button" routerLink="login">
    Kipróbálom
  </button>
</div>



<div class="col-10 offset-1 d-flex my-5">

  <div class="col-4 d-flex align-items-center px-3">
    <i class="fas fa-coins fa-5x"></i>
    <div class="px-3">
      <h3>
        Nyomonkövetés
      </h3>
      <p>
        Az alkalmazás használatával könnyen nyomon tudja követni jövedelmének mozgását.
      </p>
    </div>
  </div>

  <div class="col-4 d-flex align-items-center px-3">
    <i class="fas fa-clipboard-list fa-5x"></i>
    <div class="px-3">
      <h3>
        Listák
      </h3>
      <p>
        Bevételeit és kiadásait külön listákon tudja ellenőrizni. Befizetésre váró számláit is le
        tudja kérdezni.
      </p>
    </div>
  </div>

  <div class="col-4 d-flex align-items-center px-3">
    <i class="fas fa-hand-holding-usd fa-5x"></i>
    <div class="px-3">
      <h3>
        Megtakarítások
      </h3>
      <p>
        Tervezéssel és odafigyeléssel sok pénzt spórolhat, ha folyamatos megfigyelés alatt tartja
        kiadásait.
      </p>
    </div>
  </div>

</div>



<div class="container-fluid p-5 bg-light mt-3 d-flex flex-row">

  <div class="d-flex align-items-center">
    <img class="introImg" src="./../../../assets/images/personalized-pricing.jpg" alt="">
  </div>

  <div class="introText d-flex justify-content-center flex-column">
    <h1>
      Lorem ipsum
    </h1>

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio earum minus molestiae ex
    dignissimos natus sunt pariatur doloremque voluptas illum! Eum magni quos enim dolore tempora,
    quia eligendi sint nemo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi,
    consequatur. <br>
    Distinctio facere
    eveniet accusamus eius! Officia soluta, eius quibusdam possimus voluptatum eaque minima itaque,
    modi obcaecati officiis eligendi cum ad. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit.
    Eveniet rem quia assumenda, sint, dolorum beatae nobis ipsam nulla provident eius quam, quae sit
    fuga sapiente! Saepe, ducimus?
    Optio, beatae nisi? <br>

  </div>

</div>
