.footer {
  z-index: 1000;
  color: rgba(255, 255, 255, .9);
  background-color: rgb(33, 37, 41);
  padding: 2rem 6rem;
}

.footer-link {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

ul {
  list-style: none;
}
