<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="my-5">Kiadások</h1>

      <form class="col-12 bg-light p-3 d-flex justify-content-around flex-column flex-lg-row">

        <div class="col-12 col-lg-5 p-3 d-flex flex-column justify-content-center">
          <app-sort
            [config]="config"
            [(ascend)]="ascend"
            [(sortKey)]="sortKey"
          ></app-sort>
        </div>

        <div class="col-12 col-lg-5 p-3 d-flex flex-column justify-content-center">
          <app-filter
            [(filterKey)]="filterKey"
            [(phrase)]="phrase"
            [config]="config"
          ></app-filter>
        </div>

      </form>

      <div class="d-grid gap-2 col-12 my-5">
        <button class="btn btn-primary btn-lg" type="button"
          routerLink="/expenses/0"
        >
          Új kiadás hozzáadása
        </button>
      </div>

      <h5 class="mb-3">
        A listaelemekre való kattintással megtekintheti a részletes információkat az adott kiadásról!
      </h5>

      <div class="mb-5">

        <div class="list__item"
          *ngFor="let item of data | filter:phrase:filterKey | sort:sortKey:ascend"
          >

          <app-list-item
            [item]="item"
            [config]="config"
            [itemIcon]="itemIcon"
            [iconColor]="' text-danger'"
            [routerName]="routerName"
            [service]="expenseService"
          ></app-list-item>
        </div>

        <div class="col-12 bg-light d-flex justify-content-center align-items-center">
          <div class="col-6 col-lg-8 text-end p-3">
            <h5 class="m-0">
              Kiadások összesen:
            </h5>
          </div>
          <div class="col-6 col-lg-4 py-3">
            <h4 class="m-0 text-danger">
              {{ data | summary:'amount' | huf }}
            </h4>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

